# This is expected to be used with the udev rules

[Unit]
Description=Non-Sucking Key Mapper

[Service]
Nice=-15
ExecStart=/usr/bin/sh -c "/usr/bin/nskm /dev/$(awk -F'=' '/DEVNAME/{print $2}' %I/uevent)"
